<div class="container-fluid mt-5">
    <h1>Angular:Listing, Paging, Searching</h1>
    <input type="text" placeholder="Search the post by title" [(ngModel)]="searchText">
    <table class="table table-striped mt-2">
        <thead>
            <tr>
                <th>User ID</th>
                <th>Title</th>
                <th>Body</th>
                <th>No of Reaction</th>
                <th>Tags</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let post of allPosts?.posts | searchPipe : searchText">
                <td>{{post.userId}}</td>
                <td>{{post.title}}</td>
                <td>{{post.body}}</td>
                <td>{{post.reactions}}</td>
                <td *ngFor="let tag of post.tags">{{tag}},</td>
            </tr>
        </tbody>
    </table>
    <!-- <pagination-controls></pagination-controls> -->
</div>