<div class="row">
    <div class="col-4"></div>
    <div class="col-8">
  <div class="card pBody">
    <img src="{{product?.thumbnail}}" class="card-img-top" alt="..." style="width: 100%; height: 60%;">
    <div class="card-body cDeck">
      <h5 class="card-title">{{product?.title}}</h5>
      <p class="card-text">Stock Available :{{product?.stock}}</p>
      <p class="card-text"><b>Price :{{product?.price}}</b>, <span style="background-color: yellow;">Discount :{{product?.discountPercentage}}%</span></p>
      <p class="card-text">Rating :{{product?.rating}}</p>
      <p class="card-text">{{product?.description}}</p>
      <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
    </div>
  </div>
</div>
</div>